<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" style="padding: 0 2rem; margin: 0"><img class="logo" src="/images/pretty-flower.png" alt="Pretty Flower logo"></a></li>
      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= path === '/store' ? 'active' : ''%>"><a href="/store">Products</a></li>
            <% if(isLoggedIn){ %>
            <li class="<%= path === '/admin' ? 'active' : ''%>"><a href="/admin">Admin</a></li>
            <% } %>
          </ul>
      </li>
      <% if(path == '/admin'){ %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Even More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="<%= extended_path === '/addProduct' ? 'active' : ''%>"><a href="/admin/addProduct">Add Product</a></li>
              <li class="<%= extended_path === '/products' ? 'active' : ''%>"><a href="/admin/products">Products</a></li>
            </ul>
        </li>
        <% } %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <% if(isLoggedIn) { %>
            <%= name %>
          <% }else { %>
            User Login
          <% } %>
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu" role="menu">
            <% if(!isLoggedIn) { %>
            <li class="<%= path === '/login' ? 'active' : ''%>"><a href="/login">Login</a></li>
            <li class="<%= path === '/signup' ? 'active' : ''%>"><a href="/signup">Signup</a></li>
            <% }else { %>
              <li class="<%= path === '/logout' ? 'active' : ''%>"><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
      </li>
    </ul>
  </div>
</nav>
