<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <!-- <form action="/store/" method="GET" style="margin-bottom: 1em;">
      <input type="text" name="search" style="color: black;">
      <input type="submit" value="Search" style="color: black;">
    </form> -->
    <div>
      <% var i = 0 %>
      <% if (products.length> 0) { %>
        <% products.forEach((product, index)=> { %> 
          <!-- <% // if (search == "" || product.tags.includes(search)) { %> -->
            <!-- I used some of the code from the team activity 3 teacher's solution. -->
            <!-- In particular, I used the card-deck formatting. -->
            <% if(i % 3 == 0) { %> 
              <div class="card-deck">
           <% } %>
            <a href="/store/<%= index %>/details">
              <div class="card">
                <img class="card-img-top card" src="<%= product.imageUrl %>">
                <div class="card-body">
                  <p class="card-title"><%= product.name %></p>
                  <p class="card card-text">$<%= product.price %></p>
                  <% if (path == '/admin') { %>
                    <a class="btn btn-primary" href="/admin/product/<%= product._id %>/delete">Delete</a>
                    <a class="btn btn-primary" href="/admin/product/<%= product._id %>/update">Update</a>
                    <% } %>
                </div>
              </div>
            </a>
            <% if(i % 3 == 2) { %> 
              <% i++ %>
            </div>
            <br/>
         <% } %>   
          <!-- <% // } %> -->
       <% }) %>
      <% } else { %>
        <p>No Products Found</p>
      <% } %>
      </div>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
